body {
	padding-top: 70px;
}

$xs-break: 767px;	//use w/ max-width

.category {
	> i {
		cursor: pointer;
		display: inline-block;
		width: 25px;
	}
	> h3 {
		cursor: pointer;
		display: inline-block;
	}

	.innovation {
		&.collapsed {
			display: none;
		}
	}
}

.form-header {
	.page-title {
		font-size: 2em;
	}

	.form-controls {
		text-align: right;

		@media screen and (max-width: $xs-break) {
			text-align: initial;
		}
	}
}