<%= form_for(@organization_innovation) do |f| %>
  <% if @organization_innovation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization_innovation.errors.count, "error") %> prohibited this organization_innovation from being saved:</h2>

      <ul>
      <% @organization_innovation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
