<!DOCTYPE html>
<html>
<head>
  <title>Innovationtracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="innovationtracker">
	<div ng-controller="IndexCtrl">
		<div ng-repeat="category in categories | orderBy:category.order" class="category">
			<h3>{{category.name}}</h3>

			<div ng-repeat="innovation in category.innovations | orderBy:innovation.order" class="innovation">
				<h4>{{innovation.name}}</h4>
				<span class="caption">{{innovation.caption}}</span>
				<div class="description">{{innovation.description}}</div>
			</div>
		</div>
	</div>
</body>
</html>
