<!DOCTYPE html>
<html>
<head>
  <title>Innovationtracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="innovationtracker">
	<ul class="menu">
		<li>
			<a href="#/organizations">Organizations</a>
		</li>
		<li>
			<a href="#/organization/new">Add Organization</a>
		</li>
	</ul>
	<div ng-view>
	</div>
</body>
</html>
