<!DOCTYPE html>
<html lang="en" ng-app="innovationtracker">
<head>
  <title ng-bind="'Innovation Tracker' + $root.subtitle"></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Innovation Tracker</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Innovation Tracker</a>
		    </div>
		    <div id="navbar-collapse" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="#/organizations">Organizations</a>
					</li>
					<li>
						<a href="#/organization/new">Add Organization</a>
					</li>
					<li>
						<a href="#/innovations">Innovations</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div ng-view class="container">
	</div>
</body>
</html>
